@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Inter:wght@500&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');




* {
    font-family: 'Poppins', sans-serif!important;
}

body {
    min-height: 100vh;
}

body.out {
    background: linear-gradient(115deg, #0081A7 11.46%, #00AFB9 71.14%);
}

.phone-no {
    font-family: 'IBM Plex Sans Condensed'!important;
}

.btn-next {    
    background: #0081A7!important;
    border: 0.3px solid #FED9B7!important;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25)!important;
    border-radius: 5em; 
}

.headerz{

    background: #0081A7;
    border-bottom: 0.5px solid #FED9B7;

}

.roboto {
    font-family: 'Roboto', sans-serif!important;

}

.questrial {
    font-family: 'Questrial', sans-serif;
}

.quicksand {
    font-family: 'Quicksand', sans-serif;
}

.dark-color {
    color: #201F1F;
}

.inter {
    font-family: 'Inter', sans-serif;
}

.otp-box-1 {
    border: 2px solid #00AFB9;
    border-radius: 5px;
}

.otp-box-2 {
    border: 2px solid #0081A7;
    border-radius: 5px;
}

.resend-code {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 9px;
    line-height: 11px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.16em;

    background: rgba(0, 129, 167, 0.7);
    border: 0.4px solid #FEB9B7;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;

    color: #FED9B7!important;
}

.transparent-bg {
    background: none!important;
}

#phone-number:after{
    position: absolute;
    content: '';
    height: 2px;

    bottom: -4px;

    margin: 0 auto;
    left: 0;
    right: 0;
    width: 50%;
    background: green;

    transition: .5s;
}

.num-pad {
    background-color: #D9D9D9;
    color: #0081A7;
    width: 414px;
    height: 344px;
    flex-shrink: 0;
}

.theme-color {
    color: #0081A7;
}

.bg-theme-color {
    background: #0081A7;
}

.home-top-nav {
    border-bottom: 0.7px solid #00AFB9;
}

.home-content {
    border-radius: 5px;
    background: #00AFB9;
}

.bottom-nav {
    color: white;
}

.bottom-nav.active {
    color: #0AFF7A;
}

.history-refresh {
    border-radius: 14px;
    background: #D9D9D9;
}

.container.payment {
    background: url('assets/payment-bg.png');
    background-repeat: no-repeat;
}

.nalaka-wallet {
    width: 385px;
    height: 222px;
    flex-shrink: 0;
    border-radius: 8px;
    background: linear-gradient(57deg, #086511 0%, #3EC14B 100%);
}

.long-rectangle {
    width: 333px;
    height: 41px;
    flex-shrink: 0;
    border-radius: 6px;
}

#lr1 {
    background: #0081A7;
}

#lr2 {
    background: #3EC14B;
}

#lr3 {
    background: rgb(0, 175, 185);
}

.short-rectangle {
    width: 92px;
    height: 24px;
    flex-shrink: 0;
    border-radius: 3px;
    border: 0.7px solid #0081A7;
    background: #FFF;
    box-shadow: 0px 1px 3px 0px #0081A7;
    color: #086511;
}

.payment-line {
    width: 385px;
    height: 0.5px;
    background: #0081A7;
}

.square-box {
    width: 114px;
    height: 114px;
    border-radius: 5px;
    flex-shrink: 0;
}

#sq1{
    background: linear-gradient(180deg, #0081A7 0%, #00AFB9 100%);
}
#sq2{
    background: linear-gradient(180deg, #00AFB9 23.19%, #43E3EC 100%);
}
#sq3{
    background: linear-gradient(180deg, #086511 0%, #3EC14B 100%);
}
#sq4{
    background: linear-gradient(180deg, #008464 0%, #2EBA98 100%);
}

.recent-transactions {
    width: 385px;
    height: 385px;
}

.messages-pill {
    width: 190px;
    height: 28px;
    flex-shrink: 0;
    border-radius: 17px;
    background: rgba(0, 175, 185, 0.50);
    color: #000;
}

.messages-pill.active {
    background: #0081A7;
    color: #FFF;
}

.biometrics-mpin {
    width: 177px;
    height: 77px;
    flex-shrink: 0;
    border-radius: 7px;
    background: #D9D9D9;
    font-size: 10px!important;
}

.bm-line {
    width: 0.3px;
    height: 77px;
    background: rgba(0, 0, 0, 0.50);
}

.below-bm{
width: 414px;
height: 0.3px;
background: rgba(255, 255, 255, 0.80);
}

.version {
    font-size: 9px!important;
}